.Reposit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--creamyblue-border);
  padding: 24px 0;
}
.Reposit__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Reposit__h1 {
  color: var(--blue-text);
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 600;
}
.Reposit__h3 {
  display: inline-block;
  padding: 0 7px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--grey-text);
  line-height: 18px;
  white-space: nowrap;
  border: 1px solid var(--creamyblue-border);
  border-radius: 13px;
  cursor: pointer;
}
.Reposit__h2 {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--grey-text);
}
.Reposit__h4 {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--grey-text);
}
.flex {
  display: flex;
  gap: 12px;

  align-items: center;
}
.Reposit__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__svg {
  height: 16px;
}
.divider {
  height: 30px;
  width: 1px;
  background-color: var(--creamyblue-border);
  position: absolute;
  margin: 0 8px;
  left: 59%;
}
.star {
  margin-right: 12px;
}
