.SearchInput {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .SearchInput-66 {
    flex: 0 0 66%;
    max-width: 66%;
  }
}

.searchInput__textbox {
  padding: 5px 12px;
  font-size: 1.4rem;
  width: 100%;
  line-height: 20px;
  color: #24292f;
  vertical-align: middle;
  background-color: var(--original-white);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid var(--creamyblue-border);
  border-radius: 6px;
  box-shadow: inset 0 1px 0 #d0d7de33;
}
